<% provide(:title, 'Games,books and anime') %>
<div class="center hero-unit">
  <h1>Games,books and anime</h1>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "Logo"), '#' %> 
